[Unit]
Description=PiKVM Power Hold Startup
After=local-fs.target systemd-modules-load.service
Before=pikvm-oled-custom.service

[Service]
Type=oneshot
ExecStart=/usr/local/bin/pikvm-power-hold-startup
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
